#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36pt;
    color: #ebc334;
    margin: 0.5em;

}

p{
    font-size: 18pt;
    color: rgb(132, 132, 128);
}
.card{
    border: 0.3em solid rgb(132, 132, 128);
    border-radius: 2em;
    width: auto;
    height: auto;
    background-color:#f9f6ea;
    margin: 1em;
    display: block;

}

.infoCard{
    display: flex;
    justify-content: space-around;
    padding: 3em;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
}

.image{
    width: 50%;
    border-radius: 2em;
}
.parts{
    display: flex;
    padding: 2em;
    column-gap: 3em;
}

.youtube{
display: flex;
justify-content: center;
padding-bottom: 3em;
width: 80%;
}

.navBar {
    display: flex; 
    background-color: #a28a36;
    padding-left: 40em;
    padding-right: 40em;
    margin-top: -32px;
    
}

.navBar a {
  padding: 1em;
  color: black;
 
}
.form{
    padding: 1em
}
input {
    font-size: 12pt;
}